.plugin-docs {
	background: $white;
	padding: 70px 0 0 0;

	article {
		display: block;
		width: 100%;
	}

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		z-index: 10;
		background: #113951;
		@extend %clearfix;

		h1 {
			font-size: 18px;
			display: inline-block;
			padding: 0;
			margin: 0;
			float: left;

			@media screen and (min-width: $mediumScreen + px) {
				font-size: 26px;
			}

			a {
				color: $white;
				height: 60px;
				line-height: 60px;
				padding: 0 25px;
				display: block;
			}

			small {
				font-size: 12px;

				@media screen and (min-width: $mediumScreen + px) {
					font-size: 18px;
				}
			}
		}

		.button-group {
			display: block;
			float: right;
			@extend %clearfix;

			a {
				display: inline-block;
				height: 30px;
				line-height: 30px;
				font-size: 14px;
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				color: #113951;
				background: $white;
				border-radius: 3px;
				float: left;
				text-transform: uppercase;
				padding: 0 15px;
				margin: 15px 10px 15px 0;
				transition: background 0.3s ease, color 0.3s ease;
				position: relative;

				@media screen and (min-width: $mediumScreen + px) {
					padding: 0 25px 0 50px;
					margin: 15px 15px 15px 0;
				}

				&:before {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					height: 30px;
					line-height: 30px;
					text-align: center;
					font-size: 16px;

					@media screen and (min-width: $mediumScreen + px) {
						left: 25px;
						right: unset;
						width: 25px;
						text-align: left;
					}
				}

				&:hover {
					color: $white;
					background: #8b670c;
				}
			}
		}
	}

	aside {
		position: fixed;
		left: -240px;
		width: 240px;
		top: 0;
		bottom: 0;
		background: #f1f1f1;
		padding: 150px 25px;
		border-right: 1px dashed #ccc;

		@media screen and (min-width: $mediumScreen + px) {
			left: 0;
		}

		nav,
		ul,
		hr {
			display: block;
		}

		hr,
		ul {
			margin: 0 0 40px 0;
			padding: 0;
		}

		ul {

			li {
				padding: 0;
				margin: 0;
				font-size: 14px;
				font-family: 'Roboto', sans-serif;
				font-weight: 500;
				text-transform: uppercase;
			}

			a {
				display: block;
				padding: 5px 0;
				color: #113951;
				transition: background 0.3s ease, padding 0.3s ease, color 0.3s ease;

				&:hover {
					color: #8b670c;
				}
			}
		}

		hr {
			width: 100%;
			height: 0;
			background: none;
			border-top: 1px dashed #ccc;
			border-left: none;
			border-right: none;
			border-bottom: none;
			outline: none;
		}

		p {
			font-size: 14px;
		}
	}

	section {
		padding: 50px 25px;
		border-bottom: 1px dashed #ccc;
		background: $white;

		@media screen and (min-width: $mediumScreen + px) {
			padding: 80px 50px 80px 290px;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.text-wrapper {
		width: 100%;
		max-width: 800px;
	}

	footer {
		background: #718a99;
		padding: 50px 25px;
		height: 100%;
		border-bottom: 60px solid #113951;

		@media screen and (min-width: $mediumScreen + px) {
			padding: 80px 50px 80px 290px;
		}

		* {
			color: $white;
		}

		.punch {
			margin-bottom: 20px;
		}

		h2 {
			padding: 50px 0 0 0;
		}

		li {
			margin-bottom: 50px;
		}

		[class^="icon-"] {
			padding-left: 30px;
			position: relative;
			display: inline-block;
			margin: 0 5px 0 0;

			&:before {
				position: absolute;
				left: 5px;
				top: 3px;
				font-size: 18px;
			}
		}
	}

	.checklist {

		li {
			padding: 0 0 10px 30px;
			position: relative;

			&:before {
				@extend [class^="icon-"];
				@extend .icon-check:before;
				position: absolute;
				left: 0;
				top: 5px;
				font-size: 16px;
			}
		}
	}
}