@import url("'http://fonts.googleapis.com/css?family=Rokkitt|Raleway:400,600' rel='stylesheet");

//----------------------------------------------------------------
//  Titles
//----------------------------------------------------------------
h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
    color: $titleColor;
    font-family: 'Rokkitt', serif;
    font-weight: 400;

    &.punch {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
    }
}

h1, 
.alpha {
    @include fontSize(48);
}

h2, 
.beta {
    @include fontSize(40);
}

h3, 
.gamma {
    @include fontSize(30);
}

h4, 
.delta {
}

h5, 
.epsilon {
}

h6, 
.zeta {
}


//----------------------------------------------------------------
//  General Typography
//----------------------------------------------------------------
p,
li {
    color: $bodyColor;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    @include fontSize(20);
    line-height: 1.4;

    strong,
    b,
    a {
        font-weight: 600;
    }

    &.meta {
        @include fontSize(12);
        text-transform: uppercase;
    }

    &.punch {
        @include fontSize(28);
        color: $titleColor;
    }
}

p,
ul,
ol {
    margin: 30px 0 0 0;

    &.punch {
        margin: 0;
    }
}

ol,
ul {
    
    li {

    }
}

ul {

    li {

    }
}

ol {

    li {

    }
}